*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --main-padding:10px;
}
body{
    background-color: hsl(233, 47%, 7%);
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
   
}
.card{
    background-color: hsl(244, 38%, 16%);
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
    width: 65%;
    align-items: center;
    height: fit-content;
    border-radius: 5px;
}
.card div:first-of-type{
    margin-left: 25px;
}
@media (max-width:767px){
    .card{
        height: fit-content;
        flex-direction: column;
        width: 90%;
        text-align: center;
        margin:20px auto;
    }
    .card div:first-of-type{
        margin-left: 0;
    }
}
.card h1{
    font-weight: 700;
    color: white;
}
.card h1 span{
    color: hsl(277, 64%, 61%);
}
.card  h1 ,
h1 +p {
    max-width: 21rem;
}
.card h1+p{
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 13px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 60px;
}
@media (max-width:767px){
    .card h1+p{
        font-size: 18px;
    }
}
.card .stat{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 18rem;
}
.card .stat .numbers{
    font-weight: 700;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 20px;
}
.card .stat div :not(.numbers){
    color: hsla(0, 0%, 100%, 0.4);
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 10px;
}
@media (max-width:767px) {
    .card .stat{
        display: block;
        max-width: 100%;
    }
    .card .stat .numbers {
        font-size: 30px;
    }
    .card .stat div :not(.numbers){
        font-size: 15px;
    }
    .card .stat div {
        margin-bottom: 20px;
    }
}
.card .image{
    background-image: url(../images/image-header-desktop.jpg) ;
    background-size: cover;
    position: relative;
    width:24.3rem ;
    height: 20rem;
    background-repeat: no-repeat;
    border-bottom-right-radius:var(--main-padding);
    border-top-right-radius: var(--main-padding);
   
}
.card .image::after{
    content: "";
    position: absolute;
    background-color: hsla(277, 64%, 61% , .5);
    height:20rem;
    width: 24.3rem;
    z-index: 2;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
@media (max-width:767px){
    .card .image , .image::after{
        max-width: 100%;
        order: -1;
        right:0;
        margin-bottom: 30px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: var(--main-padding);
    }
}